html,
body {
  height: 100%;
  margin: 0;
}
.fa-gitlab {
  color: #e24329;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-github {
  color: #333;
}
.fa-link {
  color: black;
}
.fa-certificate {
  color: gold;
}
